body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: #e6e6e6;
}

.header {
  background: rgba(17, 17, 31, 0.76);
  height: 40px;
  width: 100%;
}

.resultsLink {
  float: right;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.catDisplay {
  height: 365px;
  width: 270px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  position:relative;
}


.faveBtn {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.catImg img {
  width: 150px;
  height: 200px;
}

.showRating{
  text-align: center;
}

.votedCatImg,
.faveCatImg  {
  width: 220px;
  height: 235px;
}

.rating {
  width: 10%;
}
