body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: #e6e6e6;
}

.header {
  background: #b3b2b3;
  height: 40px;
  width: 100%;
}

.resultsLink {
  float: right;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.catDisplay {
  height: 365px;
  width: 270px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  position:relative;
}

.rate p {
  /*height: 10px;*/
}

.rateSlider {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.faveBtn {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.catImg img {
  width: 150px;
  height: 200px;
}

.showRating {
  text-align: center;
}

.votedCatImg {
  width: 220px;
  height: 235px;
}

.rating {
  width: 10%;
}
